{% block block_image_multiple_grid %}
	{% set id = element.id %}

	<div class="container">
		<div class="row">
			<div class="col gallery">

				{% block block_image_simple_grid_top %}
					{% set element = block.slots.getSlot('top') %}
					<div class="top" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_simple_grid_left_bottom %}
					{% set element = block.slots.getSlot('left-bottom') %}
					<div class="left-bottom" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_simple_grid_right_bottom %}
					{% set element = block.slots.getSlot('right-bottom') %}
					<div class="right-bottom" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_simple_grid_left_top %}
					{% set element = block.slots.getSlot('left-top') %}
					<div class="left-top" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_simple_grid_right_top %}
					{% set element = block.slots.getSlot('right-top') %}
					<div class="right-top" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_simple_grid_bottom %}
					{% set element = block.slots.getSlot('bottom') %}
					<div class="bottom" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

			</div>
		</div>
	</div>

{% endblock %}
