{% block block_image_card %}
	{% set columns = 3 %}
	{% set id = element.id %}

	{% block block_image_card_left %}
		<div class="col-lg-4">
			<div class="card left">
				{% block block_image_card_left_image %}
					{% set element = block.slots.getSlot('left-image') %}

					<div class="card-img-top" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				<div class="card-body">
					{% block block_image_card_left_text %}
						{% set element = block.slots.getSlot('left-text') %}

						<div class="card-text" data-cms-element-id="{{ id }}">
							{% sw_include "@Photoshoot/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}

							{% set button = block.slots.getSlot('left-button') %}

							<div class="button">
								<a class="btn btn-primary text-left" href="{{ button.config.buttonLink.value}}">{{ button.config.buttonText.value}}</a>
							</div>
						</div>

					{% endblock %}
				</div>
			</div>
		</div>
	{% endblock %}

	{% block block_image_card_center %}
		<div class="col-lg-4">
			<div class="card center">
				{% block block_image_card_center_image %}
					{% set element = block.slots.getSlot('center-image') %}

					<div class="card-img-top" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}
				<div class="card-body">
					{% block block_image_card_center_text %}
						{% set element = block.slots.getSlot('center-text') %}

						<div class="card-text" data-cms-element-id="{{ id }}">
							{% sw_include "@Photoshoot/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}

							{% set button = block.slots.getSlot('center-button') %}
							<div class="button">
								<a class="btn btn-primary text-left" href="{{ button.config.buttonLink.value}}">{{ button.config.buttonText.value}}</a>
							</div>
						</div>

					{% endblock %}
				</div>
			</div>
		</div>
	{% endblock %}

	{% block block_image_card_right %}
		<div class="col-lg-4">
			<div class="card right">
				{% block block_image_card_right_image %}
					{% set element = block.slots.getSlot('right-image') %}

					<div class="card-img-top" data-cms-element-id="{{ id }}">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}
				<div class="card-body">
					{% block block_image_card_right_text %}
						{% set element = block.slots.getSlot('right-text') %}

						<div class="card-text" data-cms-element-id="{{ id }}">
							{% sw_include "@Photoshoot/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}

							{% set button = block.slots.getSlot('right-button') %}

							<div class="button">
								<a class="btn btn-primary text-left" href="{{ button.config.buttonLink.value}}">{{ button.config.buttonText.value}}</a>
							</div>
						</div>

					{% endblock %}
				</div>
			</div>
		</div>
	{% endblock %}
{% endblock %}
